body{
            padding: 0;
            margin:0;
            box-sizing: border-box;
        }
        .container{
            height:100vh;
            display: flex;
            flex-direction: column;
        }
        .parent{
            display: flex;
            justify-content: space-between;
            height: 27vh;
            align-items: center;
            position: sticky;
            top: 0px;
            background-color: white;
            z-index:10;

    }
    .parent__menu{
        display:flex;
        gap:20px;
    }
    .parent__menu> a{
        font-size: 1.5vw;
        color:black;
        text-decoration: none;

    }
    .parent__menu>a:hover{
        color: orange;
    }
    .container__main{
        flex:1;
        overflow-y:auto;
        display: flex;
        gap:20px;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        padding: 20px;
    }
    .container__footer{
        height:10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
    }
    [class^="container__main__" ]{
        border: 1px solid grey;
        border-radius: 20px;
        height:250px;
        width:300px;
        text-align: center;
        padding: 10px;
        
    }
    img{
        width:250px;
    }
    @media(max-width:992px){
        .parent__menu{
            display: none;
        }
        .parent{
            justify-content: center;
        }
        .container__main{
            flex-direction: center;
            justify-content: center;
            align-items: center;
        }

    }